/* Styles de base pour tous les boutons */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #0C0C0C;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}
.btn:disabled {
    background-color: var(--btn-disabled-bg);
    color: var(--dark-color);
    cursor: not-allowed;
    opacity: 0.6;
}

.btn:disabled:hover {
    background-color: var(--btn-disabled-bg);
}

/* Bouton principal */
.btn-primary {
    background-color: var(--btn-primary-bg);
    color: var(--light-color);
}
.btn-primary:hover {
    background-color: var(--btn-primary-bg-hover);
}
.btn-primary:focus {
    background-color: var(--btn-primary-bg-focus);
}

/* Bouton principal */
.btn-secondary {
    background-color: var(--btn-secondary-bg);
    color: var(--dark-color);
}
.btn-secondary:hover {
    background-color: var(--btn-secondary-bg-hover);
}
.btn-secondary:focus {
    background-color: var(--btn-secondary-bg-focus);
}

/* Bouton principal */
.btn-accent {
    background-color: var(--btn-accent-bg);
    color: var(--dark-color);
}
.btn-accent:hover {
    background-color: var(--btn-accent-bg-hover);
}
.btn-accent:focus {
    background-color: var(--btn-accent-bg-focus);
}

/* Bouton principal */
.btn-action-1 {
    background-color: var(--btn-action-1-bg);
    color: var(--dark-color);
}
.btn-action-1:hover {
    background-color: var(--btn-action-1-bg-hover);
}
.btn-action-1:focus {
    background-color: var(--btn-action-1-bg-focus);
}

/* Bouton action2 */
.btn-action-2 {
    background-color: var(--btn-action-2-bg);
    color: var(--dark-color);
}
.btn-action-2:hover {
    background-color: var(--btn-action-2-bg-hover);
}
.btn-action-2:focus {
    background-color: var(--btn-action-2-bg-focus);
}

/* Bouton action3 */
.btn-action-3 {
    background-color: var(--btn-action-3-bg);
    color: var(--dark-color);
}
.btn-action-3:hover {
    background-color: var(--btn-action-3-bg-hover);
}
.btn-action-3:focus {
    background-color: var(--btn-action-3-bg-focus);
}

/* Bouton action4 */
.btn-action-4 {
    background-color: var(--btn-action-4-bg);
    color: var(--dark-color);
}
.btn-action-4:hover {
    background-color: var(--btn-action-4-bg-hover);
}
.btn-action-4:focus {
    background-color: var(--btn-action-4-bg-focus);
}