.header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 1.2rem 4rem;
    background-color: var(--bg-layer-3);
    z-index: 1000;
    transition: all 0.3s ease;
    margin: 0 auto;
    width: 100%;
  }
  
  .header.scrolled {
    background-color: rgba(6, 11, 67, 0.9);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
    margin: 15px auto;
    max-width: 95%;
    border-radius: 16px;
  }
  
  .header-spacer {
    height: 100px;
    width: 100%;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    width: auto;
  }
  
  .nav {
    display: flex;
    align-items: center;
    
  }
  
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
    align-items: center;
  }
  
  .nav-item {
    color: var(--light-color);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    transition: opacity 0.3s ease;
  }
  
  .nav-link {
    text-decoration: none;
    color: var(--color-title-1);
    transition: all 0.3s ease;
    position: relative;
    padding: 5px 0;
  }
  
  .nav-link:hover {
    opacity: 0.8;
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--dark-color);
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }