@import "tailwindcss";

@import "./theme/class/btn.class.css";
@import "./theme/class/input.class.css";
@import "./theme/class/global.class.css";


@import "./theme/variables/btn.variables.css";
@import "./theme/variables/global.variables.css";

.bg-image {
    background-image: url('./assets/Bg_landing-page.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}